/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}

/****************** Desktop background ************************************/
#desktop {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/bliss2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  position: relative;
}

/**************************** Icons ******************************************/
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  text-align: center;
  width: 100px;
}

.icon img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.icon p {
  margin-top: 0px;
  color: #fff;
  font-size: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/*********************** fenetre popup ****************************************************/
.popup {
  width: 50vw;
  height: 50vh;
  background-color: #ece9d8;
  border: 2px solid #a0a0a0;
  position: absolute;
  top: 25%;
  left: 25%;
  display: none;
  flex-direction: column;
  border-radius: 1%;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup-header {
  background-color: #0063b1;
  color: #fff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #a0a0a0;
  font-size: 14px;
  font-weight: bold;
}

.img1 {
  width: 150px;
  float: left;
}

.img2 {
  width: 150px;
  float: right;
}
.popup-header button {
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 30%;
  width: 25px;
  height: 25px;
}
.ferme {
  background-color: red !important;
}
.popup-content {
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
  flex-grow: 1;
  border-radius: 3%;
}

/* popup fullscreen */
.popup.fullscreen {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

/* ************************taskbar********************************************** */

#taskbar {
  width: 100vw;
  height: 40px;
  background-color: #1f4fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  border-top: 2px solid #7a96a1;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
}
#taskbar-apps {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-grow: 1;
}
#taskbar .task {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: transparent;
  color: #000;
  border-radius: 4px;
}

#taskbar .task:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.icon img {
  max-width: 45px;
}
.task img {
  max-width: 25px;
  height: auto;
}
button.start {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 90px;
  height: 100%;
  padding-right: 20px;
  margin-right: 5px;
  background-color: rgb(21, 146, 21);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
  cursor: pointer;
}
button.start img {
  margin-right: 5px;
  max-width: 20px;
}
button.start:hover {
  background-color: rgb(15, 104, 15);
}
button.start:active {
  background-color: rgb(12, 84, 12);
  box-shadow: none;
}

/********************* Search Container **********************/
/* a retirer? */
.search-container {
  position: relative;
}

.search-input {
  padding-left: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
  pointer-events: none;
}

#taskbar-time {
  margin-left: auto;
  padding: 0px 15px;
  font-size: 14px;
  color: white;
  background-color: #2398ff;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
